In [7]:
import pandas as pd
import seaborn as sns

In [9]:
tips = pd.read_csv('tips.csv')
titanic = pd.read_csv('train.csv')
flights = pd.read_csv('flights.csv')
iris = pd.read_csv('iris.csv')

In [11]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

## 1. Scatterplot (Numerical - Numerical)

In [12]:
sns.scatterplot(tips['total_bill'], tips['tip'])

TypeError: scatterplot() takes from 0 to 1 positional arguments but 2 were given